# The alias of the KMS key that encrypts the logs delivered by CloudTrail. To be used for control 3.1.
kms_key_alias = "alias/turbot/default"

# The name of an S3 bucket to which the CloudTrail will deliver the logs. To be used for controls 3.1 and 3.4.
logging_bucket = "aws-cloudtrail-logs-123456789012-830c8976"