## Calculated Policies

Provides templates for implementing calculated policies. 

Calculated policies allow Turbot administrators to modify or extend the default behavior and logic that Turbot uses to evaluate controls.

The calculated policy examples are implemented with [Terraform](https://www.terraform.io) allowing you to manage and 
provision Turbot with a repeatable, idempotent, versioned infrastructure-as-code approach.

### TDK examples
{%- for calcPolicy in configuration.calcPolicies %}

---

**Example**: [{{ calcPolicy.name }}](./{{ calcPolicy.name }}/README.md)

**Details**
{{ calcPolicy.details | safe | trim }}
{%- endfor %}

---
