## Calculated Policies

Provides templates for implementing calculated policies. 

Calculated policies allow Turbot administrators to modify or extend the default behavior and logic that Turbot uses to evaluate controls.

The calculated policy examples are implemented with [Terraform](https://www.terraform.io) allowing you to manage and 
provision Turbot with a repeatable, idempotent, versioned infrastructure-as-code approach.

### Current Calculated Policies

| Path | Description |
| ---- | ----------- |
|<img width=200/>|<img width=500/>|
{%- for calcPolicy in configuration.calcPolicies %}
| [{{ calcPolicy.name }}](./{{ calcPolicy.name }}/README.md) | {{ calcPolicy.title }} | 
{%- endfor %}

### Current Calculated Policies Details

{%- for calcPolicy in configuration.calcPolicies %}

---

**Title:** {{ calcPolicy.title }}

**Example**: [{{ calcPolicy.name }}](./{{ calcPolicy.name }}/README.md)

**Details**
{{ calcPolicy.details | safe | trim }}
{%- endfor %}

---
