# {{ configuration.title | safe }}

## Use case

{{ configuration.useCase | safe }}
## Implementation Details

{{ configuration.details | safe }}
### Template Input (GraphQL)

{{ configuration.templateInput.details | safe }}

{%- if configuration.templateInput.query | isString %}
```graphql
{{ configuration.templateInput.query | trim | safe }}
```
{% elif configuration.templateInput.query | isArray %}
{%- for query in configuration.templateInput.query %}
```graphql
{{ query | safe | trim }}
```
{% endfor %}
{%- endif %}
### Template (Nunjucks)
{%- if configuration.template.details %}

{{ configuration.template.details | safe | trim }}
{%- endif %}

{%- if configuration.template.source | isString %}

```nunjucks
{{ configuration.template.source | trim | safe }}
```
{% elif configuration.template.source | isArray %}
{% for source in configuration.template.source %}
```nunjucks
{{ source | safe | trim }}
```
{% endfor %}
{%- endif %}
The template itself is a [Nunjucks formatted template](https://mozilla.github.io/nunjucks/templating.html).

## Prerequisites

To create the smart folder, you must have:

- [Terraform](https://www.terraform.io) Version 12
- [Turbot Terraform Provider](https://turbot.com/v5/docs/reference/terraform)
- Credentials Configured to connect to your Turbot workspace

## Running the Example

Scripts can be run in the folder that contains the script.

### Configure the script

Update [default.tfvars](default.tfvars) or create a new Terraform configuration file.

Variables that are exposed by this script are:

{% for variable in variables -%}
- {{ variable.name }}{% if variable.mandatory == false %} (Optional){% endif %}
{% endfor %}
Open the file [variables.tf](variables.tf) for further details.

### Initialize Terraform

If not previously run then initialize Terraform to get all necessary providers.

Command: `terraform init`

### Apply using default configuration

If seeking to apply the configuration using the configuration file [defaults.tfvars](defaults.tfvars).

Command: `terraform apply -var-file=default.tfvars`

### Apply using custom configuration

If seeking to apply the configuration using a custom configuration file `<custom_filename>.tfvars`.

Command: `terraform apply -var-file=<custom_filename>.tfvars`

### Destroy using default configuration

If seeking to apply the configuration using the configuration file [defaults.tfvars](defaults.tfvars).

Command: `terraform destroy -var-file=default.tfvars`

### Destroy using custom configuration

If seeking to apply the configuration using a custom configuration file `<custom_filename>.tfvars`.

Command: `terraform destroy -var-file=<custom_filename>.tfvars`
